@model SacramentMeetingPlanner.Models.Prayers

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prayers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OpeningPrayers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpeningPrayers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosingPrayers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClosingPrayers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrayersID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
