@model SacramentMeetingPlanner.Models.Speakers

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Speakers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Speaker1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speaker1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speaker2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speaker2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speaker3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speaker3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpeakersID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
