<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sacrament Meeting Planner</title>

    <environment include="Development">
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <style>
        .navbar {
            margin-top: -50px;
        }

        .Icontainer {
            margin-left: auto;
            margin-right:auto;
            width: 1350px;
        }
        .footer {
            height: 200px;
            text-align: center;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="Icontainer">
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Sacramen Planner</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Sacraments" asp-action="Index">Sacraments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Prayers" asp-action="Index">Prayers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Speakers" asp-action="Index">Speakers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Hymns" asp-action="Index">Hymns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                    </li>
                </ul>

                <form class="form-inline my-2">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" name="SearchString" value="@ViewData["currentFilter"]" >
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit" value="Search">Search</button>
                </form>
            </div>
        </div>
    </nav><br />


    <div class="container body-content">

        @RenderBody()


    </div>
    <hr />
    <footer class="footer bg-primary card">
        <h5 class="text-center">&copy; @DateTime.Now.Year - Sacrament Meeting Planner</h5>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
